@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /*Cores padrões*/
    --color-backround-primary: #2B2B2B;
    --color-purple-primary: #A259FF;
    --color-card-primary: #3B3B3B;
    --color-white-primary: #FFFFFF;
    /*Fontes*/
    --font-primary: font-family: "Roboto", sans-serif;
}

body{
    min-height: 100vh;
    background-color: var(--color-backround-primary);
    font-family: var(--font-primary);
}

button{
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}